<% provide :title, t("title.resend_confirmation") %>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <div class= "panel panel-default">
      <div class= "panel-heading">
        <h2 class= "center"><%= t"title.resend_confirmation" %></h2>
      </div>
      <div class="panel-body">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
          <%= render "users/shared/error_messages", resource: resource %>
          <div class="field">
            <%= f.label t "users.form.email" %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "form-control" %>
          </div>
          <div class="actions">
            <%= f.submit t("button.resend_confirmation_instructions"), class: "btn btn-primary button_custom" %>
          </div>
        <% end %>
        <%= render "users/shared/links" %>
      </div>
    </div>
  </div>
</div>
