<div class="row">
  <div class="col-md-3">
    <div>
      <a href="#" class="list-group-item active">
        <%= t "home.category" %>
      </a>
      <ul class="list-group">
        <li class="list-group-item">Truyện tranh
          <span class="label label-primary pull-right">234</span>
        </li>
        <li class="list-group-item">Trinh thám
          <span class="label label-success pull-right">34</span>
        </li>
      </ul>
    </div>
    <div>
      <a href="#" class="list-group-item active list-group-item-success">
        <%= t "home.author" %>
      </a>
      <ul class="list-group">
        <li class="list-group-item">Tác giả 1
          <span class="label label-danger pull-right">300</span>
        </li>
        <li class="list-group-item">Tác giả 2
          <span class="label label-success pull-right">340</span>
        </li>
      </ul>
    </div>
    <div>
      <a href="#" class="list-group-item active">
        <%= t "home.publisher" %>
      </a>
      <ul class="list-group">
        <li class="list-group-item">Nhà xuất bản 1
          <span class="label label-warning pull-right">456</span>
        </li>
        <li class="list-group-item">Nhà xuất bản 2
          <span class="label label-success pull-right">156</span>
        </li>
        <li class="list-group-item">Nhà xuất bản 3
          <span class="label label-info pull-right">400</span>
        </li>
      </ul>
    </div>
    <div>
      <ul class="list-group">
        <li class="list-group-item list-group-item-success"><a href="#">Sản phẩm mới</a></li>
        <li class="list-group-item list-group-item-info"><a href="#">Sản phẩm Hot</a></li>
        <li class="list-group-item list-group-item-warning"><a href="#">Sản phẩm sắp ra mắt</a></li>
      </ul>
    </div>
  </div>
  <div class="col-md-9">
    <div>
      <ol class="breadcrumb">
        <li><%= t "header.home" %></li>
      </ol>
    </div>
    <div class="row">
      <div class="btn-group alg-right-pad">
        <button type="button" class="btn btn-default"><strong>1235  </strong>items</button>
        <div class="btn-group">
          <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown">
            Sort Products &nbsp;
            <span class="caret"></span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="#">By Price Low</a></li>
            <li class="divider"></li>
            <li><a href="#">By Price High</a></li>
            <li class="divider"></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="row">
      <%= render "static_pages/product" %>
    </div>
  </div>
</div>
