<% @products.each do |products| %>
  <div class="col-md-4 text-center col-sm-6 col-xs-6">
    <div class="thumbnail product-box">
      <%= link_to image_tag(products.display_image, :class => "product-image"), static_page_path(products.id) %>
      <div class="caption">
        <%= link_to products.name, static_page_path(products.id), class: "product-title" %>
        <p>
          <%= t "home.price" %>
          <strong class="price-st"><%= (number_to_currency(products.price, precision: 0))%></strong>
        </p>
        <p>
          <%= link_to t("home.add_to_cart"), add_to_carts_path(products, quantity: 1), method: :post, class: "btn-product btn-success" %>
          <%= link_to t("home.see_details"), static_page_path(products.id), class: "btn-product btn-primary" %>
        </p>
      </div>
    </div>
  </div>
<% end %>
<%= paginate @products, theme: "twitter-bootstrap-3" %>
