<% provide :title, t("title.order_detail") %>
<div>
  <ol class="breadcrumb">
    <li><%= link_to t("title.my_order"), orders_path %></li>
    <li class="active"><%= t "title.order_detail" %></li>
  </ol>
</div>
<div>
  <table class="ty-cart-content ty-table">
    <thead>
      <tr class="vs-cart-header">
        <th class="ty-cart-content__title ty-left">
          <%= t "order.product" %>
        </th>
        <th class="ty-cart-content__title ty-left"></th>
        <th class="ty-cart-content__title ty-right">
          <%= t "order.quantity" %>
        </th>
        <th class="ty-cart-content__title quantity-cell">
          <%= t "order.unit_price" %>
        </th>
        <th class="ty-cart-content__title ty-right">
          <%= t "order.total_price" %>
        </th>
      </tr>
    </thead>
    <tbody>
      <% @order_detais.each do |item| %>
        <tr class="vs-cart-product">
          <td class="ty-cart-content__product-elem ty-cart-content__image-block">
            <%= image_tag item.product.image if item.product.image.attached? %>
          </td>
          <td class="ty-cart-content__product-elem ty-cart-content__description">
            <%= link_to item.product.name, static_page_path(item.product.id), class: "product-title-tb" %>
            <div>
              <%= "#{t("home.author")}:  #{item.product.author}" %>
              <br>
              <%= "#{t("home.publisher")}:  #{item.product.publisher}" %>
            </div>
          </td>
          <td class="ty-cart-content__product-elem ty-cart-content__qty ">
            <%= item.quantity %>
          </td>
          <td class="ty-cart-content__product-elem ty-cart-content__price">
            <%= t(number_to_currency(item.product.price, precision: 0, locale: :vi)) %>
          </td>
          <td class="ty-cart-content__product-elem ty-cart-content__price">
            <%= item.price %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<div>
  <ul class="ty-cart-statistic__total-list">
    <li class="ty-cart-statistic__item ty-cart-statistic__total">
      <span class="ty-cart-statistic__total-title">
        <%= t "order.total" %>
      </span>
      <span class="ty-cart-statistic__total-value">
        <%= number_to_currency(@order.total_money, precision: 0, locale: :vi) %>
      </span>
    </li>
  </ul>
</div>
<div class="buttons-container ty-cart-content__bottom-buttons clearfix">
  <div class="ty-cart-content__left-buttons">
    <%= link_to t("order.continue_shopping"), home_client_path, class: "btn-product btn-warning" %>
  </div>
  <% if @order.status == "pending" %>
    <div class="ty-cart-content__right-buttons">
      <div id="paypal-button-container" class="btn-product"></div>
    </div>
  <% end %>
</div>
<script type="text/javascript">
  $(document).ready(function(){
      //Check if the current URL contains '#'
      if(document.URL.indexOf("#")==-1){
          // Set the URL to whatever it was plus "#".
          url = document.URL+"#";
          location = "#";
          //Reload the page
          location.reload(true);
      }
  });
</script>
<script>
  $( document ).ready(function() {
     paypal_sdk.Buttons( {
      env: 'sandbox', // Valid values are sandbox and live.
      createOrder: async function  ( data, actions )
      {

        console.log("helooooooooooooooo")
        const res = await  actions.order.create( {
          purchase_units: [ {
            amount: {
              value: '<%= (@order.total_money.to_i)*0.000042 %>'
            }
          } ],
        } );
        return res
      },
      onApprove: async function ( data, actions )
      {
        $.ajax( {
          method: 'POST',
          url: '/capture_order',
          headers: { 'Content-Type': 'application/json', 'X-CSRF-TOKEN': $( 'meta[name="csrf-token"]' ).attr( 'content' ) },
          dataType: 'json',
          data: JSON.stringify( {
            order_id: data.orderID,
            payer_id: data.payerID,
            id: '<%= @order.id %>'
          } )
        } ).then( res =>
        {
          alert( "Thanh toán thành công!" );
          // console.log(res);
          window.location.href = res.url;
          return res.status;
        });
      }
    } ).render( '#paypal-button-container' );
  });
</script>
<script src="https://www.paypal.com/sdk/js?client-id=AR_wMHL1LUvDmmBWjb3AjCtLpNk9xxNAeRa4gh7nA8i-BulZ05ezKBzjJDF2fVDvMe7QboM5voPeL4-b" data-namespace="paypal_sdk"></script>
