<div class="wrapper row0">
  <div id="topbar" class="hoc clear">
    <div class="fl_left">
      <ul class="nospace">
        <li><%= link_to "", home_client_path, class: "fas fa-home fa-lg"%></li>
        <li><%= link_to t("language.en"), locale:"en" %></li>
        <li><%= link_to t("language.vi"), locale:"vi" %></li>
        <li><%= render "shared/search_form" %></li>
      </ul>
    </div>
    <div class="fl_right fl_right_search">
      <ul class="nospace ">
        <li><i class="fas fa-envelope rgtspace-5"></i> <%= t "header.email_contact" %></li>
        <% if user_signed_in? %>
          <li><%= link_to "", carts_path, class: "fa fa-shopping-cart" %></li>
          <li class="header__navbar-user-notification">
            <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
              <i class="fas fa-bell rgtspace-5"></i>
              <span class="btn__badge">
                <%= current_user.notifications.unchecked %>
              </span>
            <% end %>
            <ul class="header__navbar-user-notification-menu">
              <li></li>
              <li class="header__cart-heading">
                <%= t"notification.notification_title"%>
              </li>
              <li class="pre-scrollable">
                <%= render current_user.notifications.sort_by_created %>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <%= link_to "#", class: "dropdown-toggle", "data-toggle": "dropdown" do %>
              <%= t("button.account") %>
              <b class="caret"></b>
            <% end %>
            <ul class="dropdown-menu account-func">
              <li><%= link_to t("users.new.order_history"), orders_path , class: "account-func-a"%></li>
              <li><%= link_to t("users.new.settings"), edit_user_registration_path, class: "account-func-a" %></li>
              <li><%= link_to t(".Logout"), destroy_user_session_path, method: :delete, class: "account-func-a" %> </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t("header.login"), user_session_path %></li>
          <li><%= link_to t("header.sign_up"), new_user_registration_path %></li>
          <li><%= link_to "", carts_path, class: "fa fa-shopping-cart" %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div class="wrapper row1">
  <header id="header" class="hoc clear">
    <div id="logo" class="one_half first">
      <h1 class="logoname">
        <%= link_to home_client_path do%>
          <span><%= t "header.book" %></span>
          <%= t "header.store" %>
        <% end %>
      </h1>
    </div>
    <div class="one_half">
      <ul class="nospace clear">
        <li class="one_half first">
          <div class="block clear"><i class="fas fa-phone"></i> <span><strong class="block">
                <%= t "header.call_us" %></strong>
              <%= t "header.phone_contact" %></span>
          </div>
        </li>
        <li class="one_half">
          <div class="block clear"><i class="far fa-clock"></i> <span><strong class="block">
                <%= t "header.time_work" %></strong>
              <%= t "header.time_h" %></span>
          </div>
        </li>
      </ul>
    </div>
  </header>
  <nav id="mainav" class="hoc clear">
    <ul class="clear">
      <li><%= link_to t("header.home"), root_url, class: "drop-cart toolbar-func left_menu" %></li>
      <li><a class="drop-cart toolbar-func" href="#"><%= t "home.publisher" %></a>
        <ul>
          <% @publishers.each do |publisher| %>
            <li>
              <%= link_to publisher.publisher, filter_by_publisher_static_page_path(publisher.publisher), method: :get %>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        <a class="drop toolbar-func" href="#"><%= t "home.category" %></a>
        <ul>
          <% @categories.each do |category| %>
            <li>
              <%= link_to category.title, filter_by_category_static_page_path(category.id), method: :get %>
            </li>
          <% end %>
        </ul>
      </li>
      <li>
        <a class="drop toolbar-func" href="#"><%= t "home.author" %></a>
        <ul>
          <% @authors.each do |author| %>
            <li>
              <%= link_to author.author, filter_by_author_static_page_path(author.author), method: :get %>
            </li>
          <% end %>
        </ul>
      </li>
      <li><%= link_to t("home.cart"), carts_path, class: "drop-car toolbar-func"%></li>
      <li><a href="#" class="drop-car toolbar-func">Hỗ Trợ</a></li>
    </ul>
  </nav>
</div>
<%= javascript_pack_tag "custom" %>
