<div id="content">
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <ul class="nav navbar-nav navbar-right">
        <li>
          <a href="#"><i class="zmdi zmdi-notifications text-danger"></i>
          </a>
        </li>
        <li><%= link_to_unless_current "English", locale:"en" %></li>
        <li><%= link_to_unless_current "Vietnamese", locale:"vi" %></li>
      </ul>
    </div>
  </nav>
  <div class="container-fluid">
    <%= form_with(model: @site) do |f| %>
      <div class="card">
        <div class="card-body">
          <div class="mb-5">
            <%= f.label :name, t("product.name") %>
            <%= f.text_field :name, { class: "form-control", placeholder: "Site Name" } %>
          </div>
          <div class="mb-3">
            <%= f.label :name, t("product.price") %>
            <%= f.text_field :code, { class: "form-control", placeholder: "Site Code" } %>
          </div>
          <div class="mb-3">
            <%= f.label :name, t("product.quantity") %>
            <%= f.text_field :description, { class: "form-control", placeholder: "Description" } %>
          </div>
          <%= f.submit t("crud.create"), class: "btn btn-primary submit" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
