<tr>
  <td><%= product.name %></td>
  <td class="td-img">
    <%= image_tag product.display_image if product.image.attached? %>
  </td>
  <td><%= product.category_title %></td>
  <td><%= product.status %></td>
  <td><%= product.quantity %></td>
  <td><%= number_to_currency(product.price, precision: 0, locale: :vi) %></td>
  <td><%= product.author %></td>
  <td>
    <%= link_to admin_product_path(product.id), class: "btn btn-success" do %>
      <i class="zmdi zmdi-eye">
      </i>
    <% end %>
  </td>
  <td>
    <%= link_to edit_admin_product_path(product.id), class: "btn btn-info" do %>
      <i class="zmdi zmdi-edit">
      </i>
    <% end %>
  </td>
  <td>
    <%= link_to admin_product_path(product.id), method: :delete, data: {confirm: t("product.confirm_delete")}, class: "btn btn-danger" do %>
      <i class="zmdi zmdi-eye-off">
      </i>
    <% end %>
  </td>
</tr>
